body {
    margin: 0;
    background-color: #37383C;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    text-align: center;
}

#Base_text{
    font-size: 60px;
    font-family:sans-serif;
    margin-top: 200px;
    margin-bottom: 40px;
}
#Info_button{
    text-decoration: none;
    background-color: orangered;
    padding: 15px 20px;
    border-radius: 25px;
    color: white;
}
.container-opys{
    margin-top: 200px;
    margin-left: 560px;
    display: flex;
}
.container-opys p{
    background-color: #ddd;
    padding: 10px 15px;
    border-radius: 25px;
    margin-left: 5%;

}

/* Стиль для хедера */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #000000;
    color: #fff;
    border-bottom: 5px solid white;

}

/* Стиль для логотипу */
.header .logo {
    display: flex;
    align-items: center;
}

.header .logo img {
    height: 30px;
    margin-right: 10px;
}

.header .logo span {
    font-size: 18px;
    font-weight: bold;
}

/* Стиль для навігації */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
    margin-left: 15px;
}

.nav-links a:hover {
    color: #ddd;
}

/* Стиль для кнопок */
.header .buttons {
    display: flex;
    gap: 10px;
}

.header .buttons .btn {
    padding: 8px 15px;
    border: 2px solid #1e90ff;
    border-radius: 25px;
    color: #1e90ff;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header .buttons .btn:hover {
    background-color: #1e90ff;
    color: #fff;
}

.header .buttons .btn-primary {
    background-color: #1e90ff;
    color: #fff;
}

.header .buttons .btn-primary:hover {
    background-color: #1576d2;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    flex-shrink: 0;
    border-top: 5px solid #fff;
    /* Біла полоса зверху футера */
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    max-width: 500px;
}

.footer-logo img {
    width: 400px;
}

.footer-logo p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
}

.foot-ul li a {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.foot-ul {
    list-style: none;
}

.foot-ul {
    display: inline-flex;
    padding-left: 10px;
}
